.bg-icon {
  position: absolute;
  top: 0;
  left: -93px;
  width: 1533px;
  height: 1247px;
  object-fit: cover;
}
.login-into-your {
  margin: 0;
  font-weight: 500;
}
.account,
.to-keep-the {
  font-size: var(--font-size-26xl);
  font-family: var(--field-text);
  color: var(--black-text);
}
.to-keep-the {
  font-size: var(--font-size-21xl);
  font-weight: 500;
  color: var(--color-dimgray);
}
.account-to-keep-the {
  margin: 0;
  font-size: var(--font-size-26xl);
  color: var(--black-text);
}
.going {
  font-size: var(--font-size-21xl);
  color: var(--color-dimgray);
}
.span {
  font-size: var(--font-size-26xl);
  font-weight: 500;
  font-family: var(--field-text);
  color: var(--black-text);
}
.party-going {
  margin: 0;
}
.login-into-your-container {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 66px;
}
.login-des {
  position: absolute;
  top: 373.5px;
  left: 56px;
  border-radius: var(--br-5xs);
  background-color: rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(14px);
  width: 522px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px 26px;
  box-sizing: border-box;
}
.please-enter-your,
.welcome-back-nista {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.5px;
}
.welcome-back-nista {
  flex: 1;
  font-weight: 500;
}
.please-enter-your {
  font-size: var(--field-text-size);
  color: var(--grey-text);
}
.greet {
  position: absolute;
  top: 212px;
  left: 52px;
  width: 593px;
  height: 73px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-21xl);
  color: var(--black);
}
.span1 {
  color: var(--color-red);
}
.email1,
.enter-your-email {
  position: absolute;
  letter-spacing: 0.5px;
  display: inline-block;
}
.email1 {
  top: 0;
  left: 0;
  font-weight: 500;
  width: 593px;
}
.enter-your-email {
  border: 0;
  outline: 0;
  font-family: var(--field-text);
  font-size: var(--field-text-size);
  background-color: transparent;
  top: 16px;
  left: 16px;
  color: var(--grey-text);
  text-align: left;
  width: 561px;
}
.enter-your-email-address-wrapper {
  position: absolute;
  top: 33px;
  left: 0;
  border-radius: var(--br-5xs);
  border: 0.5px solid var(--black);
  box-sizing: border-box;
  width: 593px;
  height: 53px;
  overflow: hidden;
}
.email {
  position: absolute;
  top: 345px;
  left: 52px;
  width: 593px;
  height: 86px;
}
.enter-your-password {
  border: 0;
  outline: 0;
  font-family: var(--field-text);
  font-size: var(--field-text-size);
  background-color: transparent;
  position: absolute;
  top: 16px;
  left: 16px;
  letter-spacing: 0.5px;
  color: var(--grey-text);
  text-align: left;
  display: inline-block;
  width: 532px;
}
.heroiconseye-slash {
  position: absolute;
  top: 17.5px;
  left: 558px;
  width: 19px;
  height: 18px;
  overflow: hidden;
  object-fit: cover;
}
.password {
  position: absolute;
  top: 461px;
  left: 52px;
  width: 593px;
  height: 86px;
}
.login {
  position: relative;
  font-size: var(--field-text-size);
  font-weight: 500;
  font-family: var(--field-text);
  color: var(--color-white);
  text-align: left;
}
.login-button,
.or {
  position: absolute;
  left: 52px;
  width: 593px;
}
.login-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) 10px;
  background-color: var(--black-text);
  top: 577px;
  border-radius: var(--br-5xs);
  height: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.or {
  top: 657px;
  font-size: var(--profile-text-size);
  color: var(--grey-text);
  text-align: center;
  display: inline-block;
}
.flat-color-iconsgoogle {
  position: relative;
  width: 23px;
  height: 23px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.disconnect {
  position: relative;
  font-size: var(--field-text-size);
  font-weight: 500;
  font-family: var(--field-text);
  color: var(--black-text);
  text-align: left;
}
.flat-color-iconsgoogle-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.google-login {
  cursor: pointer;
  border: 1px solid var(--black-text);
  padding: var(--padding-xs) 143px;
  background-color: transparent;
  position: absolute;
  top: 705px;
  left: 52px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 593px;
  height: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dont-have-an,
.sign-up-for {
  position: relative;
  letter-spacing: 0.5px;
}
.sign-up-for {
  text-decoration: underline;
  font-weight: 500;
  color: var(--black-text);
}
.signup {
  position: absolute;
  top: 785px;
  left: 190.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  color: var(--grey-text);
}
.login-all,
.login-page {
  background-color: var(--color-white);
  height: 1024px;
  overflow: hidden;
}
.login-all {
  position: absolute;
  top: 0;
  left: 652px;
  border-radius: var(--br-31xl) 0 0 var(--br-31xl);
  width: 697px;
  text-align: left;
  font-size: var(--field-text-size);
  color: var(--color-black);
}
.login-page {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-dimgray);
  font-family: var(--field-text);
}
